*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #CFCFCF;
}

.contain{
    display: flex;
}

.nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: #FFFFFF;
    height: 100vh;  
    overflow-y:scroll;
    overflow-x:hidden;
}

.nav ul {
    list-style-type: none;   
}

.first-li{
    font-family: 'Montserrat';
    font-style: normal;
    width: 100%;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #0F6E38;
    margin: 20px 0;
    box-shadow: 1px 4px 4px rgba(238, 238, 238, 0.55);
    padding: 0 30px 10px;
}

.first-li img{
    vertical-align: middle;
}

.second-li{
    width: 100%;

}

.second-li li{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #0C1825;
    padding: 8% 0 8% 15%;
    width: 100%;
    text-align: center;
    display: flex;
}

.second-li li a{
    text-decoration: none;
    color: #0C1825;
}

.second-li img{
    vertical-align: middle;
    margin-right: 15px;
}


.selected{
    background-color:  #F0F0F0;  
}

.second-li .nested{
    margin: 0 15%; 
    display: none;
}

#show{
    display: block;
}




.content{
    margin: 1.2% 0 0 20%;
    width: 100%;
}

.top-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 97%;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 5px 15px;
}

.user{
    display: flex;
    align-items: center;
}

.user div{
    margin-left: 10px;
}

.user-1{
        display: flex;
        align-items: flex-start;
}
.user-1 img{
    margin: 0 5px;
}

.user-info h4{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #777483;
}

.user-info p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #777483;
    text-align: right;
}

.card-set{
    display: grid;
     row-gap: 50px; 
    grid-template-columns: auto auto auto;
    margin-top: 50px;
    justify-content: space-evenly;
}

.card{
    width: 280px;
    height: 250px;
    background-color: #FFFFFF; 
    border-radius: 15px;
    text-align: center;
    padding: auto 0;
}

.card img{
    margin-top: 45px;
}

.card h3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 39.06px;
    line-height: 48px;
    color: #000000;
    margin: 10px 0;
}

.card p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    color: #8D8A99;
}

table{
    width: 97%;
    margin: 5% 0;
    border-spacing: 0px;
    box-sizing: border-box;
    box-shadow: 1px 4px 4px rgba(238, 238, 238, 0.55);
    border-radius: 15px;
    background-color: #FFFFFF;
}

th{
        text-align: left;
        height: 2rem;
        border-bottom: 1px solid rgba(141, 138, 153, 0.5);
        padding: 10px;      
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #0C1825;

}

tr{
    vertical-align: middle; 
    border-top: 1px solid #8D8A99;  
    padding: 30px 0;
}

tr:nth-child(even) {
    background-color: #F9F9F9;
}

td{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #0C1825;
    padding: 10px;
}


.tab-head{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 24px;
    color: #636363;
    padding: 30px 0 30px 10px;
}

.tab-input{
    position: relative;
}
.inp-img{
    position: absolute;
    left: 20px;
    top: 33px;
}

.tab-input input{
    padding: 10px 35px;
    width: 271px;  
    border: 1px solid #D8D8D8;
    border-radius: 8px; 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color:rgba(141, 138, 153, 0.5);
}

.th-inp{
    width: 106px;
    padding: 10px;
    border: 1px solid #8D8A99;
    border-radius: 5px;
    outline: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #8D8A99;
    background-color: transparent;
}


#green{
    border: 1px solid #00AA37;
    color: #00AA37;
}

.top{
    border-top: 1px solid rgba(141, 138, 153, 0.5);  
}

.move-right{
    margin-left: 20px;
}

.page{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.page-p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    color: #8D8A99;
    margin: 0 20px;
}

#gree{
    color: #00AA37;  
}

.page-tab{
    width: 64px;
    height: 64px;
    border: 1px solid #BCBCBC;
    border-radius: 6px;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #BCBCBC;
}

.page-tab:nth-of-type(1){
    color: #FFFFFF;
    border: 1px solid #00AA37;
    background-color: #00AA37;
}

.page-tab p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
}


@import url("organization.css");
